*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(245, 242, 236);
}


.user-input{
    display: block;
    margin: 15px auto;
    width: 90%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 7px 5px;
    background-color: #e5e5cc;
}

.user-input:focus, .user-input:active{
    outline: none;
}

.auth-form{
    width: 350px;
    border:3px double #9900ff;
    padding: 25px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 10px;

}

.auth-heading{
    text-align: center;
    font-size: 50px;
    background-color: #7a00cc;
    padding: 12px;
    color: #e5e5cd;
}

.btn-auth{
    background-color: #434323;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;

}

.btn-auth:hover{
    transition: 0.3s;
    background-color:#666633 ;
}

.auth-link{
    text-align: center;
    display: block;
    margin-top: 10px;
}